/* sg.html */
div {
    margin: 0;
    padding: 0;
}
#section-sg1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
#section-sg1 h1 {
    font-size: 10vh ;
    
}
.sg-hero {
    display: flex;
    flex-direction: row;
}
.sg-hero img {
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}
.logo-group{
    position: absolute;
    top: 25%;
    right: 15%;
}

.sg-hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sg-hero-content img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 2vh;
    overflow: visible;
}
.sg-hero-content p {
    font-size: 3vh;
}
.text {
    width: 50vw;
}
.text h1 {
    font-size: 3vw;
}

.sg-hero-content-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.sg-hero-content-img h1 {
    font-size: 5vh;
    padding-bottom: 3vh;
}

.docum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.docum .grouping{
    display: contents;
}
.docum img {
    width: 17vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 2vh;
}
@media only screen and (max-width: 900px), 
            screen and (min-height: 60vw) {       
        #section-sg1{
            flex-direction: column;
            text-align: center;
        }
        #section-sg1 h1 {
            position: absolute;
            top: -30vh;
            font-size: 7vw ;   
        }
        .sg-hero img{
            width: 20vw;
        }
        .logo-group{
            position: absolute;
            top: 12.5vh;
            right: 39%;
        }
        .sg-hero-content {
            flex-direction: column;
            text-align: center;
        }
        .docum {
            flex-direction: column;
        }
        .docum .grouping{
            display: flex;
            flex-direction: row;
        }
        .docum img {
            width: 20vw;
            height: 20vh;
            object-fit: cover;
            border-radius: 2vh;
        }
    }
@media only screen and (min-height: 100vw) {
    .docum img {
        width: 40vw;
        height: 20vh;
    }
    #section-sg1 h1 {
        position: absolute;
        top: -30vh;
        font-size: 8vw ;   
    }
    .logo-group{
        position: absolute;
        top: 5vh;
        right: 39%;
    }
}