@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&italic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root{
    --light-color:#e6f9ff;
    --theme-color:#43C6F0;
    --dark-color: #333333;
    --transparent-color:#dbf7ff3f;
}

body {
    margin: 0;
    font-family: 'Cascadia Mono', sans-serif;
}

nav {
    overflow: visible;
    background: #dbf7ff14;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav section{
    padding: 1vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
}
nav section .fa{
    display:none;
}
nav section img {
    height: 4vw;
}
nav section .close{
    display: none;
}
nav section a {
    display: block;
    color: #626262;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    border-radius: 5px;
    font-size: calc(0.75vh + 1vw);
    font-family: 'Cascadia Mono SemiBold', sans-serif;
}
nav section a:hover {
    background-color: rgba(67, 198, 240, 0.7);
    color: rgb(206, 249, 247);
    padding: 1vw 1vw;
    transition: 0.25s;
}
nav section a.logo-nav:hover {
    background-color: rgba(67, 197, 240, 0.136);
    transition: 0.25s;
}
nav section div {
    display: flex;
    gap: 0.8vw;
}

@media screen and (orientation:portrait) {
    nav section {
        position:absolute;
        top:0;
        right:0vw;
        width: calc(40vh - 30vw);
        height: 50vh;
        padding-bottom: 100%;
        padding-top: 5vh;
        flex-direction: column;
        gap:5vh;
        transition: 0.5s ease-in-out;
    }
    nav section .fa-bars{
        position: absolute;
        display: block;
        color:#827886;
        margin: 10px;
        font-size: calc(2vh + 2vw);
        top:5vh;
        right:202.5vw;
        cursor:pointer;
    }
    nav section img {
        height: 10vh;
    }
    nav section .close{
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        right:calc(37.5vh - 20vw);
    }
    nav section div{
        flex-direction: column;
        gap:5vh;
    }
    nav section a {
        font-size: calc(2vh + 0.75vw);
        text-align: right;
    }
    nav section a:hover {
        background-color: unset;
        color: #626262;
        padding: 1vw 1vw;
        transition: 0.25s;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--light-color);
}


.section1 {
    background: url(assets/bg.png);
    background-position: center;
    background-size: cover;
}
.welcome, .lab-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
}
.welcome {
    color: var(--dark-color);
}
.lab-text {
    color: var(--theme-color);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-top: 2vw;
    padding-bottom: 10vw;
}
.button {
    width: calc(5vw + 5vh);
    height: calc(2.5vw + 2.5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 2vw;
    font-size: calc(1.3vw + 1.3vh);
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--theme-color);
    border: 0.3vw solid var(--theme-color);
    border-radius: 0.7vw;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
}
.button:hover {
    background-color: #3598b9;
    border-color: #3598b9;
}
.content.section1 .buttons .button.explore {
    background-color: #dbf7ff3f;
    color: var(--theme-color);
}
.content.section1 .buttons .button.explore:hover {
    background-color: #3598b9;
    color: var(--light-color);
}

.content.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0a0a;
    background-color: #dbf7ff3f;
}
.section2-content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
}
.section2-content h2 {
    color: var(--theme-color);
    display: inline-block;
    padding: 1vw;
    border-radius: 0.7vw;
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
    margin-top: 10vh;
}


.card {
    background-color: var(--theme-color); 
    color: white;
    padding: 3vw;
    border-radius: 0.7vw;
    margin-bottom: calc(10vw + 10vh);
}
.card h3 {
    font-size: calc(1.3vw + 1.3vh);
    font-family: 'Poppins Semibold', sans-serif;
    margin: auto;
    text-align: left;
}
.card p {
    font-size: calc(1.1vw + 1.1vh);
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.study-card {
    color: var(--light-color);
    padding: 2vw;
    border-radius: 0.7vw;
    margin: 2vw 0;
    display: flex;
    align-items: center;
    box-shadow: -3px 5px 34.5px 0px rgba(0, 0, 0, 0.25);
}
.study-card img {
    height: 10vw;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 2vw;
}
.study-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.study-card h4,
.study-card p {
    margin: 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.study-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.study-card h4 {
    font-size: calc(1.1vw + 1.1vh);
    margin-bottom: 0.5vw;
}
.study-card p {
    font-size: calc(1vw + 1vh);
}


.section3 {
    background: var(--theme-color) url('src/assets/bg-section3.png') center/cover;
}
.content.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0a0a;
    border-radius: 10px 10px 0 0;
}
.section3-content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #dbf7ff3f;
    border-radius: 10px;
}
.section3-content h2 {
    color: var(--theme-color);
    background-color: var(--light-color);
    display: inline-block;
    padding: 1vw;
    border-radius: 0.5vw;
    font-size: calc(1vw + 3vh);
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
}
.section3-content p {
    color: white;
    display: inline-block;
    padding: 0.5vw 4vw;
    border-radius: 2px;
    font-size: calc(0.75vw + 2vh);
    text-align: left;
    font-family: 'Poppins', sans-serif;
}


.section4 {
    background: var(--theme-color);
}
.content.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b0a0a;
}
.section4-content {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
}
.section4-content h2

 {
    color: var(--light-color);
    display: inline-block;
    padding: 2vw;
    margin-bottom: 8vh;
    font-size: calc(3vw + 3vh);
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
}


.executive-card,
.administration-card,
.practicum-card,
.publicrelation-card,
.logistics-card {
    display: flex;
    justify-content: space-around;
    gap: 1.2vw;
}
.assistant-card {
    background: linear-gradient(133deg, #16B4E7 12%, #1C487C 95%);
    background-color: var(--theme-color); 
    box-shadow: 15px 14px 51.1px 0px #3284B0;
    width: 10vw;
    height:calc(23vh + 13vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 3vw 6vw;
    border-radius: 1vw;
    border: 0.3vw solid var(--light-color);
    margin-bottom: calc(8vw + 8vh);
    overflow: hidden;
}
.assistant-card img {
    height: calc(10vh + 4vw);
    object-fit: cover;
    object-position: 50% 30%;
    margin-bottom: calc(1vw + 1vh);
    padding-top: 2vw;
}
.assistant-card h3,
.assistant-card h4 {
    margin: 0vw 0vw;
}
.assistant-card h3 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: clamp(1.3vw, calc(1vw + 1.6vh), calc(5vw + 5vh));
    width: 200%;
}
.assistant-card h4 {
    font-size: clamp(1vw, calc(0.6vw + 1vh), calc(5vw + 5vh));
    font-family: 'Poppins Light', sans-serif;
    margin-top: 0.3vw;
    margin-bottom: 1vw;
    width: 200%;
}


.social-icons {
    display: flex;
    justify-content:center;
}
.social-icons img {
    width: 2vw;
    height: 2vw;
    border-radius: 0%;
    padding: 0.4vw 0.5vw;
    padding-bottom: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-color);
    color: var(--theme-color);
    padding: 40px;
    font-size: calc(0.7vw + 0.7vh);
}
.social-media, .address {
    text-align: left;
}
.social-media img {
    width: 3.5vw; /* Adjust the size as needed */
}


@media screen and (orientation:portrait) {
    .assistant-card {
        height: 25vh;
    }
    .assistant-card img {
        max-height: calc(4vh + 10vw);
    }
    .assistant-card h3 {
        font-size: clamp(0vw, calc(1vw + 1vh), calc(5vw + 5vh));
    }
    .assistant-card h4 {
        font-size: clamp(0vw, calc(0.75vw + 0.75vh), calc(5vw + 5vh));
    }
}