@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&italic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");


:root{
    --light-color:#e6f9ff;
    --theme-color:#43C6F0;
    --dark-color: #333333;
    --transparent-color:rgb(252, 254, 255);
}

main{
    position: relative;
    top: 0;
    left: 9vw;
    --width-main:74vw;
    width: var(--width-main);
    padding: 7.5vh 7.5vw;
}
.lms-title{
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}
.display-akun{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}
.display-akun img{
    max-height: 10vh;
}
.content{
    position: relative;
    border-color: var(--theme-color);
    border-radius: 10px;
    border-style: groove;
    padding: 2vh 2vw;
    min-height: 50vh;
}
.content button{
    border-radius: 2vh;
    border-color: var(--theme-color);
    background-color: var(--light-color);
    padding: 1vh 1vw;
}
.content button:hover{
    cursor: pointer;
}
.dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin-top: 1vh;
    padding: 2vh 1vw;
    border: 1px solid var(--theme-color) ;
    width: 80%;
    font-size: 75%;
    z-index: 1;
    word-wrap: break-word;
}
.dropdown a{
    margin: 1vh 0;
}
.close-dropdown{
    display: none;
    border-radius: 10px;
    position: absolute;
    top:-15vh;
    left: -5vh;
    height: 60vh;
    width: calc(var(--width-main) - 10vw);
    z-index: 0;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    min-height: 40vh;
}
.items img{
    width: calc(10vw + 5vh);
}

@media screen and (orientation:portrait) {
    main{
        left: 0;
        width: 85vw;
    }
}