@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&italic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");


:root{
    --light-color:#e6f9ff;
    --theme-color:#43C6F0;
    --dark-color: #333333;
    --transparent-color:rgb(252, 254, 255);
}

