@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&italic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

body{
    margin: 0;
    background-image: 
    radial-gradient(rgba(102, 117, 125, 0.751) 1%, transparent 3%),
    radial-gradient(rgba(102, 117, 125, 0.751) 1%, transparent 3%);
    background-position: 0px 0px, 51px 51px;
    background-size: 102px 102px;
    background-color: var(--dark-background);
}
:root{
    --light-color:rgb(250, 255, 255);
    --theme-color:rgb(67, 197, 240);
    --dark-background: #4b4b4b;
    --dark-color: #333333;
    --transparent-color:#dbf7ff3f;
    --light-card: var(--theme-color);
    --dark-card: #252525;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}

.logo {
    height: calc(5vw + 5vh); 
}
.login-form {
    background-color: var(--theme-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
    box-shadow: 0px 4px 93.9px -19px rgba(90, 102, 116, 0.25);
    padding: 5vh 5vw;
    font-weight: 500;
    width: 25vw;
}

.login-form form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    color: var(--light-color);
}


.login-form h1 {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.login-form h2 {
    font-size: 2vh;
    margin-bottom: 10px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 200;
    text-align: justify;
}

.login-form input {
    font-size: calc(0.75vw + 1vh);
    border: 1px solid #43C6F0;
    background: rgba(160, 181, 187, 0.12);
    border-radius: .357rem;
    width: 98%;
    height: 6.5vh; /* Adjust the height as needed */
    font-family: 'Poppins', 'sans-serif';
    outline: 1% solid var(--theme-color);
    color: var(--light-color);
}


.login-form input[type=submit] {
    background: linear-gradient(91deg, var(--theme-color) 0%, #4388F0 100%);
    color: var(--light-color);
    width: 100%;
    height: 7.5vh;
    font-size: calc(0.5vw + 1.25vh);
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    outline: none;
    border: none
}
.login-form input[type=submit]:hover{
    cursor: pointer;
}

@media screen and (orientation:portrait) {
    .logo img{
        height: calc(5vw + 5vh);
        margin-bottom: 5vh;
    }
    .login-form{
        height: 60vh;
        width: 80vw;
        padding: 15vh 15vw;
    }
    .login-form h1{
        font-size: calc(2vh + 2.4vw);
    }
    .login-form h2 {
        font-size: calc(1vh + 2.4vw);
    }
    .login-form input {
        font-size: calc(1vh + 1.9vw);
    }
    .login-form input[type=submit] {
        font-size: calc(1vh + 1.4vw);
    }
}