@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&italic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&italic&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

body{
    margin: 0;
}
:root{
    --light-color:#e6f9ff;
    --theme-color:#43C6F0;
    --dark-color: #333333;
    --transparent-color:rgb(252, 254, 255);
}


.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
    background-color: var(--transparent-color);
    background: url('assets/bg.png');
}

.logo {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50vw; 
}

.logo img{
    height: calc(8vw + 8vh);
}

.login-form {
    background-color: var(--transparent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw; 
    border-radius: 1.5vw;
    box-shadow: 0 0 10px rgba(105, 180, 241, 0.447); 
}

.login-form form {
    margin-top: 20px;
}

.login-form h1 {
    font-size: clamp(calc(0.75vw + 0.75vh), calc(2vw + 2vh), calc(3vw + 3vh));
    width: 40vw;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Cascadia Mono Extrabold', sans-serif;
}

.login-form h2 {
    font-size: clamp(calc(0.5vw + 0.5vh), calc(1vw + 1vh), calc(2vw + 2vh));
    margin-bottom: 10px;
    font-family: 'Poppins', 'sans-serif';
}

.login-form input {
    font-size: calc(0.5vw + 1.25vh);
    border: 1px solid var(--transparent-color);
    border-radius: .357rem;
    width: 30vw;
    height: 6.5vh; /* Adjust the height as needed */
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', 'sans-serif';
    outline: 1px solid var(--theme-color);
}


.login-form input[type=submit] {
    background: linear-gradient(91deg, var(--theme-color) 0.25%, #4388F0 100%);
    color: var(--light-color);
    width: 12vw;
    height: 7.5vh;
    margin: 0 11vw;
    margin-top: 20px;
    font-size: calc(0.5vw + 1.25vh);
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    outline: none;
}
.login-form input[type=submit]:hover{
    cursor: pointer;
}

@media screen and (orientation:portrait) {
    .container-login{
        flex-direction: column;
    }
    .logo img{
        height: calc(5vw + 5vh);
        margin-bottom: 5vh;
    }
    .login-form{
        height: 40vh;
        width: 80vw;
        padding: calc(5vh + 5vw) 5vh calc(10vh + 2.5vw) 5vh;
    }
    .login-form h1{
        width: 80vw;
    }
    .login-form input {
        font-size: calc(0.5vh + 1.4vw);
        width: 60vw;
    }
    .login-form input[type=submit] {
        font-size: calc(0.5vh + 1.4vw);
        height: 40px;
        width: 20vw;
        margin: 0 22.5vw;
    }
}