body{
    margin: 0;

}
main {
    position: relative;
    top: 0;
    left: 13vw;
    --width-main: 82%;
    width: var(--width-main);
    padding: 1vw 0;
    font-family: 'Poppins';
    font-style: normal;
    transition: 0.5s ease-in;
}
:root{
    --light-color:rgb(250, 255, 255);
    --theme-color:rgb(67, 197, 240);
    --dark-background: #4b4b4b;
    --dark-color: #333333;
    --transparent-color:#dbf7ff3f;
    --light-card: var(--light-color);
    --dark-card: #252525;
}

.navbar {
    top: 0;
    left:0;
    width: 8vw;
    height: 100vh;
    position: fixed;
    box-shadow: 12px 4px 47.4px -4px rgba(67, 147, 240, 0.16);
    border-radius: 1rem;
    backdrop-filter: blur(100px);
    transition: width 200ms cubic-bezier(1, 0.01, 0.58, 1);
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 1vw 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-item { 
    border-radius: 0.5vw;
    width: 80%;
    margin: 0.5rem 0;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 2vw;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    justify-content: center;
}

.nav-link:hover {
    background-color: #dbf7ff3f;
}

.link-text {
    display: none;
    margin-left: 0.4rem;
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
    transition: 0.7s ease;
}

.nav-link img {
    max-height: 2.5vw; 
}

.nav-link svg {
    width: 1.5vw;
    margin: 0 2.3vw;
}

.navbar:hover {
    width: 13.5rem;
}

.navbar:hover .link-text {
    display: block;
    justify-content: start;
}

.navbar:hover .nav-link svg {
    margin-right: 2.3vw; /* Adjust this value as needed */
    margin-left: 0;
}
@media screen and (orientation:portrait) {
    main {
        padding: 7.5vh 12.5vw;
        margin: 0;
    }
    .navbar {
        top:unset;
        bottom: 0;
        width: 100vw;
        max-height: 10vh;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link img {
        max-height: 5vw; 
    }
    .nav-link svg {
        width: 5vw;
    }
    .navbar:hover {
        width: 100vw;
    }
    .navbar:hover .link-text {
        display: none;
    }
    .navbar:hover .nav-link svg {
        margin: 0 2.3vw;
    }
    .nav-item:last-child {
        margin: 0.5rem 0;
    }
}

.dark-card{
    background-color: var(--dark-color);
}
.light-card{
    background-color: var(--light-card);
}
.dark-card-text{
    color: var(--dark-cardtext);
}
.light-card-text{
    color: var(--light-cardtext);
}
.light-text-reverse{
    color: var(--light-color);
}
.dark-text-reverse{
    color: var(--dark-color);
}
.light-background-reverse{
    background-color: var(--dark-background);
}
.dark-background-reverse{
    background-color: var(--light-color);
}
.light-text{
    color: var(--dark-color);
}
.dark-text{
    color: var(--light-color);
}
.theme-text{
    color:var(--theme-color);
}
.light-background{
    background-color: var(--light-color);
}
.dark-background{
    background-color: var(--dark-background);
}
.theme-background{
    background-color: var(--theme-color);
}