body{
    margin: 0;

}
main {
    position: relative;
    top: 0;
    left: 0vw;
    --width-main: 82vw;
    width: var(--width-main);
    padding: 3vh 13vw;
    font-family: 'Poppins';
    font-style: normal;
    transition: 0.5s ease-in;
}
:root{
    --theme-color: #43C6F0;

    --light-background: #FBFBFB;
    --light-theme: #43C6F0;
    --light-text: #ffffff;
    --light-card-text: #000000;
    --light-link: #F1F1F1;

    --dark-background: #4B4B4B;
    --dark-theme: #3A3A3A;
    --dark-text: #FFFFFF;
    --dark-card-text: #FFFFFF;
    --dark-link: #6A6A6A;
}



.navbar {
    top: 0;
    left:0;
    width: 8vw;
    height: 100vh;
    position: fixed;
    box-shadow: 19px 4px 47.3px -4px rgba(52, 55, 58, 0.38);
    border-radius: 1rem;
    backdrop-filter: blur(100px);
    transition: width 200ms cubic-bezier(1, 0.01, 0.58, 1);
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 1vw 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-item { 
    border-radius: 0.5vw;
    width: 80%;
    margin: 0.5rem 0;
    text-decoration: none;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 2vw;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    justify-content: center;
}

.nav-link:hover {
    background-color: #dbf7ff3f;
}

.link-text {
    display: none;
    margin-left: 0.4rem;
    font-family: 'Cascadia Mono ExtraBold', sans-serif;
    transition: 0.7s ease;
    text-decoration: none;
}
.nav-text-selected {
    color: var(--light-card-text);
}
.nav-text-unselected{
    color: var(--light-text)
}
.nav-link img {
    max-height: 2.5vw; 
}

.nav-link svg {
    width: 1.5vw;
    margin: 0 2.3vw;
}

.navbar:hover {
    width: 13.5rem;
}

.navbar:hover .link-text {
    display: block;
    justify-content: start;
}

.navbar:hover .nav-link svg {
    margin-right: 2.3vw; /* Adjust this value as needed */
    margin-left: 0;
}
@media screen and (orientation:portrait) {
    main {
        padding: 7.5vh 12.5vw;
        margin: 0;
        left: 0;
        --width-main: 74vw;
    }
    .navbar {
        top:unset;
        bottom: 0;
        width: 100vw;
        max-height: 10vh;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link img {
        max-height: 5vw; 
    }
    .nav-link svg {
        width: 5vw;
    }
    .navbar:hover {
        width: 100vw;
    }
    .navbar:hover .link-text {
        display: none;
    }
    .navbar:hover .nav-link svg {
        margin: 0 2.3vw;
    }
    .nav-item:last-child {
        margin: 0.5rem 0;
    }
}

.lightmode-background{
    background-color: var(--light-background);
}
.lightmode-main{
    background-color: var(--light-theme);
    color: var(--light-text);
}
.lightmode-text{
    color: var(--light-card-text);
}
.lightmode-card{
    background-color: var(--light-background);
    color: var(--light-card-text);
}

.lightmode-btn{
    background-color: var(--light-theme);
    color: var(--light-text);
}

.lightmode-link{
    color: var(--light-card-text);  
}
.lightmode-selected {
    background-color: var(--dark-card-text);
    color: var(--dark-text);
}
.lightmode-svg-selected {
    fill: var(--light-card-text);
}
.lightmode-svg-unselected {
    fill: var(--light-text);
}
.darkmode-background{
    background-color: var(--dark-background);
}

.darkmode-main{
    background-color: var(--dark-theme);
    color: var(--dark-text);
}
.darkmode-text{
    color: var(--dark-card-text)
}
.darkmode-card{
    background-color: var(--dark-background);
    color: var(--dark-card-text);
}

.darkmode-btn{
    background-color: var(--dark-theme);
    color: var(--dark-text);
}

.darkmode-link{
    color: var(--dark-card-text);
}
.darkmode-selected {
    background-color: var(--theme-color);
    color: var(--dark-theme);
}
.darkmode-svg-selected {
    fill: var(--light-card-text);
}
.darkmode-svg-unselected {
    fill: var(--light-text);
}


